/* videobooth.css */
/* main content */
/* line 4, ../sass/videobooth.scss */
div#booth {
  margin: auto;
  width: 1100px;
}

/* line 9, ../sass/videobooth.scss */
div#console {
  position: relative;
  background: url(images/videoformfactor.jpg) no-repeat top left;
  width: 1100px;
  height: 981px;
  top: 0px;
  left: 0px;
}

/* video */
/* line 19, ../sass/videobooth.scss */
div#videoDiv {
  position: relative;
  width: 720px;
  height: 480px;
  top: 180px;
  left: 190px;
}

/* line 26, ../sass/videobooth.scss */
video {
  background-color: black;
}

/* line 29, ../sass/videobooth.scss */
div#videoDiv canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 34, ../sass/videobooth.scss */
canvas#buffer {
  display: none;
}

/* dashboard */
/* line 39, ../sass/videobooth.scss */
div#dashboard {
  position: absolute;
  top: 844px;
  left: 130px;
}

/* line 45, ../sass/videobooth.scss */
a.effect, a.control, a.videoSelection {
  display: block;
  width: 64px;
  height: 56px;
}

/* line 51, ../sass/videobooth.scss */
div#effects {
  position: absolute;
  background: url(images/effectbuttons.png) no-repeat top left;
  top: 0px;
  left: 0px;
  width: 259px;
  height: 56px;
}

/* line 59, ../sass/videobooth.scss */
a#normal {
  position: relative;
  width: 68px;
  top: 0px;
}

/* line 64, ../sass/videobooth.scss */
a#western {
  position: absolute;
  width: 62px;
  top: 0px;
  left: 68px;
}

/* line 70, ../sass/videobooth.scss */
a#noir {
  position: absolute;
  top: 0px;
  left: 130px;
}

/* line 75, ../sass/videobooth.scss */
a#scifi {
  position: absolute;
  top: 0px;
  left: 194px;
}

/* line 81, ../sass/videobooth.scss */
div#controls {
  position: absolute;
  background: url(images/playpausemute.png) no-repeat top left;
  top: 0px;
  left: 350px;
  width: 259px;
  height: 56px;
}

/* line 89, ../sass/videobooth.scss */
a#play {
  position: relative;
  top: 0px;
}

/* line 93, ../sass/videobooth.scss */
a#pause {
  position: absolute;
  top: 0px;
  left: 64px;
}

/* line 98, ../sass/videobooth.scss */
a#loop {
  position: absolute;
  top: 0px;
  left: 128px;
}

/* line 103, ../sass/videobooth.scss */
a#mute {
  position: absolute;
  top: 0px;
  left: 192px;
}

/* line 109, ../sass/videobooth.scss */
div#videoSelection {
  position: absolute;
  background: url(images/video1video2buttons.png) no-repeat top left;
  top: 0px;
  left: 700px;
  width: 137px;
  height: 56px;
}

/* line 117, ../sass/videobooth.scss */
a#video1 {
  position: relative;
  width: 68px;
  top: 0px;
}

/* line 122, ../sass/videobooth.scss */
a#video2 {
  position: absolute;
  top: 0px;
  width: 70px;
  left: 68px;
}

/* line 129, ../sass/videobooth.scss */
a:hover {
  cursor: pointer;
}
